<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">

    <link href="{{ asset('bundles/pkonektindex/css/layouts/main-grid.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/pkonektindex/css/layouts/marketing.css') }}" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    {% block head %}{% endblock %}
</head>

<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="{{ path('pkonekt_index_homepage') }}">PKONEKT</a>
            {% if is_granted('ROLE_USER') %}
                {{ app.user.username }}
            {% endif %}

            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><button class="button-secondary pure-button" href="{{ path('pkonekt_post_create') }}">{{ 'Post!' }}</button></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Register' }}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'Login' }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script>
        _.map(document.getElementsByTagName('button'), function(num){
            if (!_.isUndefined(num)){
                num.addEventListener('click', function(){
                    document.location.href = this.getAttribute("href");
                });
            }
        });
    </script>

    <br style="clear: both"/>

</body>
</html>
