<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">

    <link href="{{ asset('bundles/pkonektindex/css/layouts/main-grid.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/pkonektindex/css/layouts/marketing.css') }}" rel="stylesheet" type="text/css" media="all" />

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    {% block head %}{% endblock %}
</head>

<body>

    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">PKONEKT</a>

            <ul>
                {% if is_granted('ROLE_USER') %}
                    <li class="pure-menu-selected">{{ app.user.username }}</li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'Logout' }}</a>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Register' }}</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'Login' }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
    <script>
        YUI().use('node-base', 'node-event-delegate', function (Y) {
            // This just makes sure that the href="#" attached to the <a> elements
            // don't scroll you back up the page.
            Y.one('body').delegate('click', function (e) {
                e.preventDefault();
            }, 'a[href="#"]');
        });
    </script>

    <br style="clear: both"/>

</body>
</html>
